<div class="container">
  <div class="row">
    <h3><%= @vendor.vendor_name %></h3>
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <%= form_for @vendor, :url =>{:action => "update", :id =>@vendor} do |f| %>
          <div class="form-group">
            <p>Vendor Name: <%= f.text_field 'vendor_name', class: 'form-control' %></p>
          </div>
          <div class="form-group">
          <p>Username: <%= f.text_field 'username', class: 'form-control' %></p>
          </div>
          <div class="form-group">
          <p>Password: <%= f.text_field 'password', class: 'form-control' %></p>
          </div>
          <div class="form-group">
          <p>MemberID: <%= f.text_field 'memberID', class: 'form-control' %></p>
          </div>
          <div class="form-group">
          <p>Url: <%= f.text_field 'vendor_url', class: 'form-control' %></p>
          </div>
          <div class="form-group">
          <p>Notes: <br />
          <%= f.text_area 'notes', class: 'form-control' %></p>
          </div>
          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
        
        <% end %>
      </div>
    </div
  </div>
</div>
<%= link_to 'Back', :action => nil %>